*
{
    box-sizing: border-box;
}


main
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(84,84,171);
    border: solid black 1px;
   font-size: 0px;
}

.firstBlock
{
    width: 50%;
    height: 50%;
    
    border: solid #9a9bdb  1px;
    background-color: #9a9bdb;
    margin:10% 25%;
}

.innerBlock_1
{
    height: 120%;
    width: 50%;
    background-color: white;
    margin-left: 5%;
    margin-top: -5%;
    font-size: x-large;
   
}

.parentContent
{
    display: inline-block;
    vertical-align: top;

}

h1
{
    margin-top: 50%;
    margin-left:  12%;
    color: white;
    font-size: x-large;
    width: 80%;
    font-weight: bold;
}

.innerBlock_2
{
    width: 40%;
    height: 50%;
    text-align: center;
    
}

.buttonFirstBlock
{
    border: solid white 2px;
    background-color: #9a9bdb;
    font-size: x-large;
    margin-top: 5%;
    padding: 10px 30px ;
    color: white;
    font-weight: bold;
}

.buttonFirstBlock:hover
{
    
background-color: #8FACFF;;
}


.fieldStyle
{
    width: 90%;
    padding: 10px 5px;
    margin-top: 5%;
    margin-left: 5%;
}

.firstField
{
    margin-top: 40%;
}



.buttonLogInn
{
    background-color: rgb(241, 103, 161);
    margin-left: 35%;
    margin-top: 5%;
    padding: 10px 30px;
    -webkit-box-shadow: 2px 5px 15px 5px #FF84F6; 
    box-shadow: 2px 5px 15px 5px #FF84F6;
    color: white;
}

.buttonLogInn:hover
{
    color: white ;
    background-color: rgb(151, 10, 128);
}